.test_content{
    /* width: 600px; */
    /* display: flex;
    justify-content: start */
}
.sub_content_test {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center
}
.checkBox_test{
    width: 30px;
    align-items: center
}
.text_test {
    align-items: center
}
.submit_test{
    margin-top: 100px;
    display: block;
    margin-left: 20px;
    padding: 12px 30px;
    border: none;
    background: linear-gradient(0.25turn, #1560ebf0, #1357d2f0);
    font-size: 0.95em;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 7px 9px rgb(33 33 33 / 20%);
    transition: 0.3s ease;
    margin-bottom: 50px;
    width: 200px;
}